html {
  height: 150%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
}



textarea
{
  background: #141e30;
  color:white;
}

.form {
  margin-top: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;
  font-family: "Montserrat-Bold";
  font-size: 16px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px #03e9f4;
  border-radius: 10px;
  color: white;
}

.form h1 {
  margin: 0 0 30px;
  padding: 0;
  font-family: "Ubuntu";
  color: #fff;
  text-align: center;
}

.form form button {
  display: relative;
  position: relative;
  vertical-align: center;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  background: #141e30;
  border-color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.form button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
